<div class="mt-6 mb-6">
    <h2 class="text-4xl mb-6"><strong>What is SimpCity?</strong></h2>
    <p>A city-building strategy game that is played over 16 turns.
    In each turn, you will build one of two randomly-selected buildings in your 4x4 city.
    In the first turn, you can choose to build anywhere in the city.
    Subsequent turns, you can only build on tiles that are connected to existing buildings.
    The other building that you did not build is discarded.</p>
</div>
<div class="mt-6 mb-6">
    <h2 class="text-4xl mb-6"><strong>Objectives</strong></h2>
    <p>As the mayor of Simp City, you want to build the happiest and most prosperous city possible.
    For every building you build in your city, you will be awarded with <span><strong><i>points</i></strong></span>.
    Each building provides their own way of getting more <span><strong><i>points</i></strong></span>.</p>
</div>
<div class="mt-6 mb-6">
    <h2 class="text-4xl mb-6"><strong>Buildings</strong></h2>
    <p>There are <strong><u>5</u></strong> types of buildings, with <strong><u>8</u></strong> copies of each:
    </p>
    <ul>
        <li>Beach (BCH): Scores 3 points if it is built on the left or right side of the city, or 1 point otherwise</li>
        <li>Factory (FAC): Scores 1 point per factory (FAC) in the city, up to maximum of 4 points for the first 4 factories. All subsequent factories only score 1 point each.</li>
        <li>House (HSE): If it is next to a factory (FAC), then it scores 1 point only. Otherwise, it scores 1 point for each adjacent house (HSE) or shop (SHP), and 2 points for each adjacent beach (BCH).</li>
        <li>Shop (SHP): Scores 1 point per different type of building adjacent to it.</li>
        <li>Highway (HWY): Scores 1 point per connected highway (HWY) in the same row</li>
    </ul>
</div>
<button class="bg-blue-700 text-white hover:bg-blue-500 py-2 px-4 w-auto" routerLink="/">Back</button>
